<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hctord.green">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:documentLaunchMode="always"
            android:label="@string/app_name"
            android:persistableMode="persistNever" />
        <activity
            android:name=".ImagePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_preview"
            android:parentActivityName=".LandingActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hctord.green.LandingActivity" />
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".NuEditorActivity"
            android:documentLaunchMode="always"
            android:label="@string/app_name"
            android:persistableMode="persistNever"/>
    </application>

</manifest>